{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}

<div class="text-center">
<main class="form-signin w-100 m-auto">
<img class="mb-4" src="/static/assets/logo_sign.jpg" alt="" width="200" height="80">
<form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <p> Don't have an account? Create one <a href="/sign_up">Here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <p class="mt-5 mb-3 text-muted">2022 awful year</p>
</main>
</div>

{% endblock %}