{% extends 'sidebar.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<div class="container text-left">
    <div class="row">
        <form class="col md-6" method="post">
{% csrf_token %}{% crispy form %}
        </form>
    <div class="col">
    {% for pic in pics %}

              <div style="height: 300px; text-align: center;">
                  <img style="max-height: 90%" src="{{ pic.img.url }}" class="img-thumbnail">

          </div>
    {% endfor %}
    </div>
    </div>
</div>


{% endblock %}


